@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --black: #1f1f1f;
    --grey: #f3f3f3;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION SECTION */

nav {
    background: transparent;
}

.navbar-brand {
    padding-left: 20px;
    font-weight: 700;
    color: var(--black);
}

.navbar-nav {
    padding-right: 20px;
    font-weight: 400;
}

.navbar-nav:hover {
    color: black;
}

/* HEADER SECTION */

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 160px;  
}

blockquote {
    font-size: 1.5rem;
    font-family: "Dancing Script", cursive;
    margin-top: -30px;

}

/* SEARCH IMAGE SECTION */

.container{
    min-height: 100vh;
}
.photo-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    display: grid;
    place-items: center;
}
.photo-search{
    margin: 2rem 0;
}
.photo-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--black);
    color: var(--black);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: var(--black);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--black);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--black);
}
.photo-result{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

}

/* FETCH IMAGES SECTION */

#photo{
    margin: 2.4rem 0;
}

.photo-item{

    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.photo-img img{
    width: 100%;
    display: grid;
    object-fit: fill;
}

.photo-name{
    padding: 1.5rem 0.5rem;
}
.photo-name h3{
    font-size: 1.4rem;
}
.photo-btn{
    text-decoration: none;
    color: #fff;
    background: var(--black);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.photo-btn:hover{
    background: var(#fff);
}

/* IMAGE DETAIL MODAL SECTION */

.photo-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.photo-details::-webkit-scrollbar{
    width: 10px;
}
.photo-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */
.container-modal {
    background-color: var(--black);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}

.showPhoto{
    display: block;
}

.photo-details-content{
    margin: 2rem;
}
.photo-details-content p:not(.photo-category){
    padding: 1rem 0;
}
.photo-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.photo-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.photo-category{
    background: #fff;
    font-weight: 600;
    color: var(--black);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.photo-category{
    background: #fff;
    font-weight: 600;
    color: var(--black);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.photo-instruct{
    padding: 1rem 0;
}
.photo-photo-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.photo-photo-img h4 {
margin-top: 10px;
}

.photo-link{
    margin: 1rem;
}
.photo-link a{
    color: #fff;
    margin:15px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.photo-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

.about-us {
    background-color: var(--grey);
}

.about-us h4 {
    padding-top: 80px;
    font-weight: 600;
}

.about-us p {
    padding-top: 30px;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

.about {
    float:left;
}

.portfolio-contact {
    display: flex;
    row-gap: 100px;
    justify-content: right;
    align-items: right;
    padding-top: 80px;
    padding-right: 10px;
  }

.portfolio-contact h5 {
    font-weight: 600;
}

.portfolio-contact form {
    float: right;
    padding-top: 10px;
}


.portfolio-contact form .form-group input {
    width: 300px;
    box-shadow: none;
    border-color: #fff;
}
.portfolio-contact form .form-group textarea {
    box-shadow: none;
    border-color: #fff;
}
  .portfolio-contact form .btn {
    margin-top:10px;
    margin-left: 120px;
    background-color: var(--black);
    box-shadow: none;
    border-color: none;
  }

  .portfolio-contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  
  .portfolio-contact-details h4 {
    color: #000000;
    padding: 20px;
    font-size: 17px;
  }
  
  .portfolio-contact-details img {
    width: 13px;
  }

  footer {
    background: var(--grey);
    
  }

  footer h5 {
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    color: var(--black);
}


/* Media Queries */
@media screen and (min-width: 600px){
    .photo-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #photo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .photo-item{
        margin: 0;
    }
    .photo-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #photo{
        grid-template-columns: repeat(3, 1fr);
    }
}